body {
  font-family: system-ui, sans-serif;
 background: #FFB6C1; /* pastello caldo chiaro */
  color: #778899;;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.box {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

#frase {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 30px;
  word-wrap: break-word;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}

button {
  width: 100%;
  max-width: 350px;
  padding: 16px 0;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: #FFC0CB; /* azzurro pastello */
  color: #0F172A;
  font-weight: bold;
  transition: transform 0.2s ease, background 0.2s ease;
  touch-action: manipulation;
}

button:active {
  transform: scale(0.95);
}

@media (max-width: 400px) {
  #frase {
    font-size: 20px;
  }
  button {
    font-size: 18px;
  }
}

